*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: $font; // vul deze in de variables.scss in.
  font-size: 18px;
  line-height: 170%;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $kleur1;
  text-decoration: none;

  &:hover {
    color: $kleur2;
    text-decoration: underline;
  }
}

p {
  color: $text-color;
  margin-bottom: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $kleur3;
  font-weight: bold;
  margin-top: 20px;
  font-family: $h-font;
  margin-bottom: 30px;
  line-height: 150%;
}

h1 {
  font-size: 45px;
  color: $kleur3;
}

h2 {
  font-size: 40px;

  @media(max-width: $screen-md-max) {
    //text-align: center;
    font-size: 35px;
  }

  @media(max-width: $screen-xs-max) {
    font-size: 28px;
  }
}

h3 {
  font-size: 28px;
  @media(max-width: $screen-md-max) {
    //text-align: center;
    font-size: 24px;
  }

  @media(max-width: $screen-xs-max) {
    font-size: 20px;
  }
}

h4 {
  font-size: 20px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

ul {
  padding-left: 20px;
  list-style-type: disc;

  li {
    margin-bottom: 15px;
    color: #121212;
    font-size: 18px;
    line-height: 27px;
  }
}

ol {
  padding-left: 20px;
  list-style-type: decimal;

  li {
    margin-bottom: 15px;
    color: #121212;
    font-size: 18px;
    line-height: 27px;
  }
}

blockquote {
  font-style: italic;
  color: $kleur1;
  font-size: 40px;
  margin-right: 0.5em;
  padding: 0.5em;
  line-height: 40px;
  position: relative;
  display: inline-block;

  &::before {
    content: "\201C";
    position: absolute;
    top: 5px;
    left: -20px;
    color: $kleur1;
    font-size: 70px;
  }

  &::after {
    content: "\201D";
    color: $kleur1;
    position: absolute;
    bottom: 5px;
    right: -20px;
    font-size: 70px;
  }

  p {
    color: $kleur2;
    font-size: 40px;
    text-align: center;
  }


  cite {
    color: #8A8A8A;
    font-size: 30px;
    text-align: center;
  }
}

.white-text {
  color: $white;
}

.black-text {
  color: $black;
}

.btn,
input[type=submit] {
  padding: 15px 35px;
  font-size: 18px;
  font-weight: 400;
  transition: .4s all;
  background-color: $kleur1;
  color: $white;
  text-decoration: none;
  border-radius: 50px;
  display: inline-flex;
  align-items: baseline;
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;


  &:after {
    @include font-awesome('\f054');
    font-size: 16px;
    margin-left: 20px;
    margin-right: -10px;
    transition: all .2s;
  }

  &.with-icon-start {
    i {
      margin-right: 15px;
    }
  }

  i {
    vertical-align: middle;

  }

  &.alternative {
    background-color: $kleur2;
  }

  &:hover {
    opacity: .8;
    color: #fff;
    text-decoration: none;

    &:after {
      margin-left: 25px;
      margin-right: -15px;
    }
  }

  &.pink {
    background-color: transparent;
    background: none;
    color: $kleur2;

    i {
      margin-left: 40px;
    }
  }

  @media(max-width: $screen-lg-max) {
    padding: 15px 25px;
    font-size: 16px;
  }
}

.alignright {
  margin: 20px;
  float: right;
}

.alignleft {
  margin: 20px;
  float: left;
}

.aligncenter {
  margin: 0 auto;
  display: block;
  text-align: center;
}

.container-fluid {
  padding: 0;
}

.container {
  padding: 0 30px;
}

.margin-container {
  margin: 50px 0;
}

.text-center {
  text-align: center;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  @media(min-width: 1200px) {
    max-width: 1320px;
  }
}

#wpadminbar {
  opacity: .2;
  @include transition();

  &:hover {
    opacity: 1;
  }
}

.search-screen {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  z-index: 5;
  height: 100%;
  z-index: 9999;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;

  .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);

    .input-group {
      display: flex;
    }

    .form-control {
      display: block;
      width: 100%;
      background-color: #fff;
      background-image: none;
      position: relative;
      z-index: 2;
      float: left;
      margin-bottom: 0;
      height: 100px;
      border: none;
      font-size: 40px;
      line-height: 80px;
      //text-transform: uppercase;
      color: #000;
      padding: 10px 30px;
      font-weight: 300;

      &::-webkit-input-placeholder {
        color: #000;
      }

      &::-moz-placeholder {
        color: #000;
      }

      &:-ms-input-placeholder {
        color: #000;
      }

      &:-moz-placeholder {
        color: #000;
      }
    }

    .btn-search {
      margin-top: 0;
      background: #000;
      color: white;
      border: none;
      font-size: 20px;
      height: 100px;
      width: 100px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;

      span {
        font-size: 40px;
        color: #fff;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }

      &:hover {
        background: #1d1d1b;
      }

      &:focus {
        background: #1d1d1b;
      }

      &:active {
        background: #1d1d1b;
      }
    }

    .btn-search-close {
      margin-top: 0;
      background: #000;
      color: white;
      border: none;
      font-size: 20px;
      height: 100px;
      width: 100px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      background: #fff;
      color: #26cad3;

      span {
        font-size: 40px;
        color: #fff;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        color: #a98c43;
      }

      i {
        vertical-align: middle;
        font-size: 19px;
      }

      &:hover {
        span {
          color: #1d1d1b;
        }
      }

      &:focus {
        span {
          color: #1d1d1b;
        }
      }

      &:active {
        span {
          color: #1d1d1b;
        }
      }
    }
  }

  .input-group-btn {
    width: auto;
    font-size: 35px;

    @media(max-width: $screen-md-max) {
      top: -2px;
      position: relative;
    }
  }
}

.search-screen.active {
  opacity: 1;
  right: 0;
  left: 0;
}

@media (max-width: 991px) {
  .search-screen {
    .container {
      .form-control {
        font-size: 26px;
        height: 60px;
        line-height: 60px;
        padding-right: 0;
      }

      .btn-search {
        width: 60px;
        height: 60px;

        span {
          font-size: 20px;
        }
      }

      .btn-search-close {
        width: 60px;
        height: 60px;

        span {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .search-screen {
    .container {
      .form-control {
        font-size: 6vw;
      }
    }
  }
}

.admin-bar {
  header {
    margin-top: 32px;
  }
}



.search-screen {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  left: 100%;
  z-index: 5;
  height: 100%;
  z-index: 9999;
  @include transition();

  &.active {
    opacity: 1;
    right: 0;
    left: 0;

    form {
      opacity: 1 !important;
      transform: translateY(0px) !important;
    }
  }

  &.is-searching {
    .container {
      top: 50px;
      transform: translate(0);
    }
  }

  .container {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    @include transition();

    form {
      padding: 0;
      opacity: 0;
      transform: translateY(15px);
      @include transition();
      transition-delay: 500ms;
      border-radius: 55px;
      overflow: hidden;
    }

    .input-group {
      display: flex;
      position: relative;
    }

    .ajax-loader {
      padding: 25px;
      font-size: 50px;
      color: #206e80;
      text-align: center;
      display: none;
    }

    .results {
      display: flex;
      flex-wrap: wrap;
      margin-top: 25px;
      gap: 25px;
      justify-content: center;
      overflow: auto;
      max-height: calc(100vh - 200px);

      .search-item {
        width: calc(50% - 25px);
        padding: 25px;
        background-color: rgba(255, 255, 255, 0.7);
        margin-top: 0;
        text-decoration: none;
        @include transition();

        @media(max-width: $screen-md-max) {
          width: 100%;
        }

        &:hover {
          background-color: #fff;
        }

        h2 {
          margin-top: 0;
        }

        p {
          margin-bottom: 0;
        }
      }
    }

    .form-control {
      display: block;
      width: 100%;
      background-color: #fff;
      background-image: none;
      position: relative;
      z-index: 2;
      float: left;
      margin-bottom: 0;
      height: 100px;
      border: none;
      font-size: 40px;
      line-height: 80px;
      // text-transform: uppercase;
      color: #000;
      padding: 10px 30px;
      font-weight: 300;

      &::-webkit-input-placeholder {
        color: #ccc;
      }

      &::-moz-placeholder {
        color: #ccc;
      }

      &:-ms-input-placeholder {
        color: #ccc;
      }

      &:-moz-placeholder {
        color: #ccc;
      }
    }

    .typewrite {
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100% - 5%);
      height: 100%;
      display: block;
      color: #ccc;
      font-size: 30px;
      text-align: left;
      z-index: 9;
      padding: 0 25px;
      display: flex;
      align-items: center;
    }

    .btn-search {
      margin-top: 0;
      background: $kleur4;
      color: white;
      border: none;
      font-size: 20px;
      height: 100px;
      width: 100px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;

      span {
        font-size: 40px;
        color: #fff;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
      }

      &:hover {
        background: #1d1d1b;
      }

      &:focus {
        background: #1d1d1b;
      }

      &:active {
        background: #1d1d1b;
      }
    }

    .btn-search-close {
      margin-top: 0;
      background: #000;
      color: white;
      border: none;
      font-size: 20px;
      height: 100px;
      width: 100px;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -ms-transition: all 0.4s;
      -o-transition: all 0.4s;
      transition: all 0.4s;
      background: #fff;
      color: $kleur2;

      span {
        font-size: 40px;
        color: #fff;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        color: #a98c43;
      }

      i {
        vertical-align: middle;
        font-size: 19px;
      }

      &:hover {
        span {
          color: #1d1d1b;
        }
      }

      &:focus {
        span {
          color: #1d1d1b;
        }
      }

      &:active {
        span {
          color: #1d1d1b;
        }
      }
    }
  }

  .input-group-btn {
    width: auto;
    font-size: 35px;
  }
}

@media (max-width: 991px) {
  .search-screen {
    .container {
      .form-control {
        font-size: 26px;
        height: 60px;
        line-height: 60px;
        padding-right: 0;
      }

      .btn-search {
        width: 60px;
        height: 60px;

        span {
          font-size: 20px;
        }
      }

      .btn-search-close {
        width: 60px;
        height: 60px;

        span {
          font-size: 20px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .search-screen {
    .container {
      .form-control {
        font-size: 6vw;
      }
    }
  }
}

.side-buttons {
  position: fixed;
  top: 50%;
  right: -119px;
  transform: translateY(-50%) rotate(-90deg);
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1;
  li {
    display: inline-block;
    margin-bottom: 0;
    a {
      background-color: $kleur1;
      color: $white;
      padding: 5px 20px;
      &.contra {
        background-color: $kleur2;
        color: $kleur1;
      }
    }
  }
  @media(max-width: $screen-xs-max){
    top: unset;
    right: unset;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) rotate(-0deg);
    width: 100%;
    display: flex;
    li {
      width: 50%;
      margin: 0;
      a {
        width: 100%;
        text-align: center;
        height: 100%;
      }
    }
  }
}

.grecaptcha-badge {
  display: none;
} 

.wpml-ls {
  display: none; 
}