
// ----------------------- MAIN COLORS ----------------------- //

$black: #000;
$white: #fff;

$bg-color: #ffffff;
$text-color: #272124;

$kleur1: #b29e84;
$kleur2: #e9e9e9;
$kleur3: #6699b2;
$kleur4: #000000;
$kleur5: #000000;

// ----------------------- SIZES ----------------------- //

$screen-xs-max: 576px;
$screen-sm-max: 768px; 
$screen-md-max: 992px;
$screen-lg-max: 1199px;
$screen-xl-max: 1340px;
 
// ----------------------- FONTS ----------------------- //

$font: 'PT Sans', sans-serif;
$h-font: 'PT Sans', sans-serif;

// ----------------------- HEADER ----------------------- //
$height-header: 140px;
$height-header-scrolled: 100px;