#ah-room-type-wrapper p.ah-label-wrapper {
	margin: 5px 0 0;
}

#ah-room-type-wrapper p.ah-input-wrapper {
	margin: 5px 0 10px;
}

.ah-room-type {
	background: #f5f5f5;
	border: 1px solid #dfdfdf;
	border-radius: 5px;
	margin-bottom: 5px;
	padding: 0px 15px 5px;
	position: relative;
}

.ah-room-type-remove {
	background: url(icons/cross.png);
	display: block;
	height: 16px;
	position: absolute;
	right: 10px;
	top: 15px;
	width: 16px;
}

#ah-add-room-types-wrapper {
	background: #eff8ff;
	border: 1px solid #cae6ff;
	border-radius: 5px;
	margin: 20px 0;
	padding: 5px 15px;
}